<html><head id="page2H"><title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><!--for making responsive,else wont work in devices smaller as intended -->
       
<style>
     html,body{
      margin:0;
      height:100%;
  }
  b:hover{
    color: yellow;
  }
</style>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../styles/restaurant-website.css"> 
   <link rel="shortcut icon" href="../images/c5 logo.jpg">
     <!-- AOS CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
   </head>
<body  style="height: 100%; width: 100%; margin: 0; ">
  <nav class="navbar  fixed-top navbar-expand-lg navbar-inverse bg-dark">
   <div class="container-fluid" style="position: relative;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div> <img class="navbar-brand fixed-top-right" style="width:10% ;height:8vh; position: absolute; top:0px; right:1%;"  src="../images/emblem.png"alt="CEEFIVE RESTAURANT"></div> 
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mt-0">
<li class="nav-item "><a class="nav-link " href="../index.html#demo" >Home</a> </li>
        <!--<li class="nav-item"><a class="nav-link" href="aboutus.html" > <h4>About Us</a></h4> </li>-->
        <li class="nav-item"><a class="nav-link" href="cuisines.html"> Order</a></li>
       <li class="nav-item"><a class="nav-link" href="../index.html#location">Contact Us</a> </li> 
      </ul>
   </div></div>   <!--container fluid div closing--> 
  </nav>


   
       <!--<div id="AboutUs" class="AboutUs " style="text-align: right;">
   <button type="button" class="button " > <a href="index.html" style="text-decoration: none; color: white;">Back</a></button></div><br>-->

    <div class="image-container">
      <img src="../images/happy-chef-team-transparent-background.jpg" 
      class="container-fluid" id="bgimg" style="width:100%; height:100vh;  opacity: 1;;display: block; background-position: center; background-size: cover; margin: 0; padding:0; border-radius: 0;">
 </div>
    
     <div class="overlay-text"> <p style="font-family:apple chancery,cursive; font-size: 1.5vw; margin: 20px; text-align: center; text-wrap: wrap; "><b style="color: yellow;">
      CeeFive</b> is a vibrant beachfront seafood restaurant renowned for its fresh and delectable offerings.Located right on the shore, we
       boasts a menu that features a wide variety of seafood dishes, from classic fish and chips to sophisticated gourmet platters,
        including succulent lobster, creamy clam chowder, and spicy seafood . We prides  on sourcing the freshest
         ingredients, ensuring that every meal is a delightful culinary experience.<br>The chefs at <b style="color: yellow;">CeeFive</b> are 
         passionate about their craft,skillfully preparing each dish to highlight the natural flavors of the sea. The commitment to quality
          extends to the restaurant's excellent service, where staff members go above and beyond to make every visit special.</p>
  
  <!-- <br><br>
    The ambiance at Ceefive is warm and inviting, with nautical-themed decor, large windows offering stunning ocean views, and outdoor
       seating that lets diners enjoy their meal with the gentle sea breeze. The relaxed yet elegant setting makes it an ideal spot for
        various occasions, whether it's a romantic dinner, a family outing, or a casual meal with friends. As the sun sets and casts a
         golden glow over the water, guests can unwind with a glass of wine from the extensive list, perfectly paired with their seafood 
         selections. With the soothing sounds of the waves in the background, dining at Ceefive is more than just a meal; it's an 
         unforgettable coastal experience that leaves a lasting impression.</p>-->
        
  </div>   </div>
<!--brands div-->
  <div class="main-title" style=" background-color: black; " >
    <i  > <b> <div  data-aos="fade-up"  style="transition: .5s;font-variant:  small-caps;  height: 10%; padding-top:3%; ">  OUR BRANDS  </div></b> </i>
   </div>
 <div class="brands " style="width: 100%; height: 30%;">
  <div data-aos="zoom-in" style="transition: 1s;"> 
    <img  src="../images/paragon.png" alt="brands" > 
    <img src="../images/cafe-calicut-1.png" alt="brands" > 
    <img src="../images/salkara.png" alt="brands" > 
    <img src="../images/mgrill-2.png" alt="brands" > </div>
  <!-- <img src="https://paragonrestaurant.in/wp-content/uploads/2022/10/browntown-3-1.png" alt="brands" > --> 
     </div>

  <div class="awards" style="background-color: black;" >
 <i><b><div  data-aos="fade-up" style=" font-variant:small-caps; height: 10%; padding-top:2%; ;">chosen among best restaurants</div></b></i> 
</div> 
<!-- Image with AOS animation -->
 
      <div class="awards-child" style="width: 100%; height: 30%; ">
        
     <div data-aos="zoom-in" style="transition: 1s">
       <img src="../images/award2023-1.webp">
      <img src="../images/tasteatlas-award-2023-1.png">
       <img src="../images/award2022-1.webp">
      <img src="../images/award2021.png"></div>
    </div>
    <div class="news" style="background-color: black;   ">
      <i ><b> <div  data-aos="fade-up"style="font-variant:small-caps; height: 10%; padding-top:2%;" >   Latest news </div></b></i>
      </div>
      <div class="container-fluid" style="background-color: black;">
        <div class="row" style="justify-content: space-around; padding: 3% 0% 3% 3%;">
       
          <div  class="col-md-6">
            <div class="card text-center" data-aos="fade-right" style="width: 90%">
            <img class="card-img-top " src="../images/chetan bhagat & r -madhavan at c5 thrissur.jpg" >
              <div class="card-body">
            <h5 class="card-title" > Chetan Bhagat & R Madhavan @ Ceefive Thrissur </h5>
              </div>
            </div>
          </div>
        <div  class="col-md-6">
          <div class="card text-center" data-aos="fade-left" style="width: 90%; ">
            <img class="card-img-top " src="../images/dhanam-retail-franchises-excellence-in-retail-food-award.webp " >
            <div class="card-body" >
              <h5 class="card-title" > Dhanam  franchises excellence in retail food award </h5>
            </div>
          </div>
        </div>
            
      </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        // Initialize AOS
        AOS.init();
    </script>
</body></html>
